html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #0d1418;
  color: #ddd4bd;
  font-family: "SUIT Variable", sans-serif;
}

body {
  text-rendering: optimizeLegibility;
}

#app {
  width: 100%;
  height: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}
